.barra{
    display: flex;
    height: 3px;
    background-color: rgb(58, 58, 58);
    border-radius: 5px;
    width: 0%;
    transition: all .3s;
}
.box:hover .barra{
    width: 100%;
}

.box{
    margin-bottom: 3px;
}